@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* glopal rules>>>>>>>>>>>>>>>> */
:root {
    --main-color: #f05a5b;
    --main-color-alt: #EF233C;
    --dark-color: #2B2D42;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #1e1e1e;
}



li {

    font-size: 14px;
}


/* start nav bar>>>>>>>>>>>>>>>>>>>> */
.navbar {
    background-color: var(--dark-color) !important;
}

.logo {
    font-size: 30px;
    letter-spacing: 3px;
    font-family: 'Mea Culpa', cursive;
}

.logo span {
    color: var(--main-color);

    font-size: 40px;
}

.active a {
    color: var(--main-color) !important;
}

.fa-search {
    color: #ffffff80;
    font-size: 20px;
    cursor: pointer;
}

.search {
    padding: 0 10px;
}

/* end nav bar>>>>>>>>>>>>>>>>>>>>>> */

/* start product-details page****************************************************8*** */


.products-container {
    margin: 100px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product {
    transition: .5s;
    width: fit-content;
    margin: 50px 0;
    height: fit-content;
    padding: 10px 5px;
    border-radius: 5px;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px 0 var(--dark-color);
}

.product .price,
.product h4,
.product .prod-descrip {
    width: 280px;
    margin: auto;
    padding: 5px;

}

.product .image {
    max-width: 280px;
    width: 280px;
    height: 350px;
}

.product .image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}

.price {
    color: var(--main-color-alt);
    font-weight: bold;
    transition: .5s;
}

.btn {
    background-color: #2B2D42;
    color: #ffffff80;
    max-width: 280px;
    margin: auto;
    width: 100%;
    transition: .5s;

}

.btn:hover {
    color: var(--main-color);
}

.btn:focus {
    box-shadow: none !important;
}

.prod-descrip {
    line-height: 20px;
    font-size: 14px;
    transition: .5s;
    display: inline-block;
}

/* end products */

/* start product-details page*********************************************** */

.big-image img {
    width: 100%;
}

.small-images {
    display: flex;
    justify-content: space-between;

}

.sm-image {
    flex-basis: 33%;
    cursor: pointer;

}

.sm-image img {
    width: 100%;
}

#see-more {
    font-size: 14px;
}

#see-more-btn {

    padding: 5px 10px;
    border: none;
    background: transparent;
    color: red;
    text-decoration: underline;
}

.product-details .sizes {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.sizes li {
    margin: 10px;
    background-color: var(--dark-color);
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
    cursor: pointer;
}

.product-details .btn {

    background-color: var(--main-color);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}

@media screen and (min-width:992px) {
    .big-image {
        height: 70vh;
    }

    .big-image img {
        height: 70vh;
        object-fit: contain;
    }

    .small-images {
        justify-content: center;
    }

    .sm-image {
        flex-basis: 20%;
    }

    .sm-image img {
        width: 100px;
    }

}

/* end product-details page  */